body{
    background-color: coral;
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

table, th, td {
    border: 1px solid black
}

p{
    color: white;
    /*font-size: 24px;*/
}

div h2{
    color: aqua;
}
/*comentario*/

#parrafo-especial{
    font-size: 1.5em;
    font-weight: bold;
}

.parrafo{
    color: blue;
    font-style: italic;
}

a,img{
    display: block;
}

a{
    margin:50px 20px;
    text-decoration;none;
    color: black;
}

a:hover{
    color:aqua;
} 

img{
    width: 70%;
}